@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c:400,500,700&display=swap');

body{
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
section > div{
    padding: 30px 0;
}
.line{
    background: #fff;
    margin-top: 30px;
    margin-bottom: 40px;
}
.cta{
    cursor: pointer;
}
.blue_bk{
    background-color: #1FADDF;
}

.pink_bk{
    background-color: #d54eb3;
}
.bk_mix_A{
background: rgba(58,171,223,0);
background: -moz-linear-gradient(left, rgba(58,171,223,0) 0%, rgba(58,171,223,0) 50%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(58,171,223,0)), color-stop(50%, rgba(58,171,223,0)), color-stop(50%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1)));
background: -webkit-linear-gradient(left, rgba(58,171,223,0) 0%, rgba(58,171,223,0) 50%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);
background: -o-linear-gradient(left, rgba(58,171,223,0) 0%, rgba(58,171,223,0) 50%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);
background: -ms-linear-gradient(left, rgba(58,171,223,0) 0%, rgba(58,171,223,0) 50%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);
background: linear-gradient(to right, rgba(58,171,223,0) 0%, rgba(58,171,223,0) 50%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3aabdf', endColorstr='#ffffff', GradientType=1 );
}
.bk_mix_B{
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(58,171,223,0) 50%, rgba(58,171,223,0) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(50%, rgba(255,255,255,1)), color-stop(50%, rgba(58,171,223,0)), color-stop(100%, rgba(58,171,223,0)));
    background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(58,171,223,0) 50%, rgba(58,171,223,0) 100%);
    background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(58,171,223,0) 50%, rgba(58,171,223,0) 100%);
    background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(58,171,223,0) 50%, rgba(58,171,223,0) 100%);
    background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(58,171,223,0) 50%, rgba(58,171,223,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#3aabdf', GradientType=1 );
}
.bk_mix_A p:last-child{
    color: #1FADDF;
}
.bk_mix_B p:first-child{
    color: #d54eb3;
}

.Secion_Title{
    text-align: center;
    color: #fff;
}
.Section_Type{
    text-align: center;
    color: #fff;
    border: solid 1px #fff;
    padding: 10px;
    font-size: 16px;
    border-radius: 20px;
    display: flex;
}
.Section_Type p{
    text-align: center;
    width: 50%;
    display: block;
    float: left;
    margin: 0;
    font-weight: 600;
    align-self: center;
}
.Skill_Title{
    text-align: center;
    color: #fff;
}
.Skill_Description{
    text-align: center;
    color: #fff;
}

// TASKS
.Task_Item{
    border-bottom: solid 1px #f3eef0;
    padding: 30px 80px;
    color: #657480;
}
.btn{
    border-radius: 100px;
    font-weight: 600;
    border: none;
    margin: 0 auto;
    display: block;
    width: 150px;
}
.btn_notAnswered{
    background-color: #f3eef0;
    padding: 10px 20px;
    color: #657480;
}
.btn_uncompleted{
    background-color: #f3eef0;
    padding: 10px 20px;
    color: #75B753;
}
.btn_completed{
    background-color: #75B753;
    padding: 10px 20px;
    color: #f3eef0;
}
.stateButton{
    background-color: #75B753;
    padding: 10px 20px;
    color: #f3eef0;
    width: 300px;
}

.Modal_Title{
    text-align: center;
}
.Modal_close{
    background: none;
    border:none;
    font-weight: 600;
    }
.ReactModal__Overlay{
   background-color: rgba(255, 255, 255, 0.6); 
}
.ReactModal__Content{
    border: none !important;
    padding: 50px !important;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.18);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.18);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.18);
}


//Loading
.lds-ring {
    display: block;
    position: relative;
    margin: 0 auto;
    width: 80px;
    height: 80px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #75B753;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #75B753 transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .fade1{
    animation: fade-in 1.5s;
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
      visibility: hidden;
    }
    100% {
        opacity: 1;
        visibility: visible;
    }
  }


  @media (max-width: 375px) {
    .Task_Item {
        padding: 30px 10px;
    }
    .Task_Item h4 {
        text-align: center;
        margin-bottom: 20px;
    }
    .Task_Item h6 {
        text-align: left;
        margin-bottom: 15px;
    }
    .Task_Item h6:last-child {
        margin-bottom: 30px;
    }
  }